.movie-wrapper{
    width: 350px;
    height: 500px; 
    margin: 10px auto; 
    padding: 10px;
    background: #3C3E45;
    border: 3px solid #3C3E45;
}

.movie-wrapper:hover{
    background: #E6D6C8; 
}

h2{
    margin: 0px; 
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited{
    color: #201F26;
}

a:hover {
    color: #536D73;
}

img{
    width: 300px;
    height: 400px;
    margin-top: 10px;
    cursor: pointer;
}

ul{
    list-style: none;
}

.details{
    background: #713139;
    padding: 10px;
}